.navbar{
    text-align: center;
    margin-left: 97px;
    align-items: center;
    margin-top: 1px;
    border-radius: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar .search{
    margin-left: 600px;
}

.navbar .search .button{
    display: flex;
    margin-left: 220px;
}

.navbar .nav-link {
    color: white;
  }
  
  .navbar .nav-link:hover {
    color: #ffcc00; 
  }

  .navbar .home{
    margin-top: 45px;
    margin-left: 100px;
  }

  .navbar .dropdown{
    margin-top: 25px;
  }
